@model ContosoUniversity.Core.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dd>
            <br/>
       </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt> 
    </dl>
    <table class="table">
        <tr>
            <th>Course Title</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            var enrollment = item;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => enrollment.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => enrollment.Grade)
                </td>
            </tr>
        }
    </table>
</div>
<div class="form-group">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
